---
layout: resume
title:  About Me
permalink: /aboutme/
---
{% include resume/baseinfo.html %}
<!-- <hr  class="sec-split"/> -->
<br>
{% include resume/summary.html %}
<!-- <hr  class="sec-split"/> -->
<br>
{% include resume/skills.html %}
<!-- <hr  class="sec-split"/> -->
<br>
{% include resume/experience.html %}
<!-- <hr  class="sec-split"/> -->
<br>
{% include resume/projects.html %}
<!-- <hr  class="sec-split"/> -->
<br>
{% include resume/others.html %}
<!-- <hr  class="sec-split"/> -->
<br>

{% include resume/educations.html %}
