<div class="">
  <h1 class="sec-title">Basic Info</h1>
</div>
<hr class="header-bar">

<div class="base-info-div">
  <table class="no-border-table">
    <tr>
      <td><b>Name:</b></td>
      <td>Zheng Zhou (周正 in Chinese)</td>
      <td rowspan="7" class="resume_avatar">
        <div>
          <img src="/img/avatar1.jpg">
          <figcaption><a href="/img/avatar1.jpg">Grand Canyon. 12/21, 2015</a></figcaption>
        </div>
      </td>
    </tr>
    <tr>
      <td><b>Personal Email:</b></td>
      <td>encorechow1992@gmail.com</td>
    </tr>
    <tr>
      <td><b>OSU Email:</b></td>
      <td>zhouzh@oregonstate.edu</td>
    </tr>
    <tr>
      <td><b>Cell Phone:</b></td>
      <td>1-(971)-220-3722</td>
    </tr>
    <tr>
      <td><b>Citizenship:</b></td>
      <td>China</td>
    </tr>
    <tr>
      <td><b>Birthday: </b></td>
      <td>1992-06-24</td>
    </tr>
    <tr>
      <td><b>Currently Studying in: </b></td>
      <td>Oregon State University, U.S.</td>
    </tr>
  </table>
</div>
