<div>
<h1 class="sec-title">Educations</h1>
</div>
<hr class="header-bar">
<div class="education-div">
  <table class="no-border-table">
    <tr>
      <td>
        <b>Master of Science, Computer Science (GPA 3.77)</b>
      </td>
      <td>
        Oregon State University - Corvallis, Oregon, U.S.
      </td>
      <td>
        Sept. 2014 - Jun. 2017
      </td>
    </tr>
    <tr>
      <td>
        <b>Bachelor of Science, Computer Science (GPA: 3.21)</b>
      </td>
      <td>
        Macau University of Science and Technology - Macau, China

      </td>
      <td>
        Sept. 2010 - Jun. 2014
      </td>
    </tr>
  </table>

</div>
