<div>
<h1 class="sec-title">Experiences</h1>
</div>
<hr class="header-bar">

<div class="experiences-div">
  <div id="research-assistant-block">
    <h3>Research Assistant</h3>
    <span>Major Advisor Prof. Fuxin Li - Oregon State University, OR, U.S. <span style="display:inline-block;width:180px;"></span><i>Mar. 2016 - Present</i></span>
    <p style="text-indent:10px;"><u>Researches</u></p>
    <ul>
      <li>Researched several state of the art techniques to solve image boundary detection and semantic segmentation problems.</li>
      <li>Explored a better algorithm comparing with original convolutional layer, which tries to enlarge the receptive field to pay more attention on large response in the images.</li>
      <li>Implemented the algorithm based on Caffe framework by C++ and CUDA, and call it flex-shape convolutional layer.</li>
      <li>benchmarking the algorithm on several data set to evaluate the performance of the idea.</li>
      <br>
      <i class="fa fa-fw fa-github"></i><a href="https://github.com/encorechow/Flex_caffe">Flex-shape Convolution Repository</a>
    </ul>
    <p style="text-indent:10px;"><u>Others</u></p>
    <ul>
      <li>Helped our group manage the software dependencies on the CentOS server to prevent illegal access.</li>
      <li>Provided assistances and troubleshooting for colleagues on the server.</li>
      <li>Designed and Developed the website of DMV(Deep Machine Vision) group website.</li>
    </ul>

  </div>
  <br>
  <div id="on-compus-se-block">
    <h3>On-campus Software Developer Intern</h3>
    <span>OSU, Center for Applied System and Software - Corvallis, OR, U.S.<span style="display:inline-block;width:160px;"></span><i>Jan. 2016 - Mar. 2016</i></span>
    <ul>
      <li>Finished training projects in advance and got credits for that.</li>
      <li>Done proof-of-concept of AnglarJS, React and ExtJS for Oregon Department of Transportation Project (ODOT).</li>
      <li>Refined requirement documents of new resource management system of ODOT.</li>
      <li>Refactored part of legacy resource management system of ODOT.</li>
      <li>Learned the work flow of Agile software development and attended two development sprints for ODOT project.</li>
    </ul>
  </div>
  <br>
  <div id="se-intern-block">
    <h3>Software Engineer Intern</h3>
    <span>YueChuan Network Technology Co. Ltd. - GuangZhou, GuangDong, China <span style="display:inline-block;width:100px;"></span><i>Jul. 2015 - Aug. 2015</i></span>
    <ul>
      <li>Designed and developed an internal work platform by using ASP.NET MVC for colleagues to co-work more efficiently.</li>
      <li>Helped colleagues solve several linux-related problems.</li>
    </ul>
  </div>

</div>
