<div>
<h1 class="sec-title">Other Projects</h1>
</div>
<hr class="header-bar">

<div class="other-projects">
  <div id="other1">
    <h3>Operating System Programming</h3>
    <span>OSU, Operating System I & II course projects <span style="display:inline-block;width:110px;"></span><i>Jan. 2015 - Mar. 2015</i></span>
    <ul>
      <li>Experienced concurrent programming and solved multiple concurrency problems from scratch by C/C++</li>
      <li>Implemented a process scheduler and scheduling algorithm in the pure linux kernel.</li>
      <li>Tested the system calls in the pure linux kernel by fuzzing input.</li>
      <li>Experienced multi-threading programming and socket programming.</li>
      <br>
    </ul>
  </div>
</div>
