<div>
<h1 class="sec-title">Projects</h1>
</div>
<hr class="header-bar">

<div class="projects-div">
  <div id="project1">
    <h3>CNN Deconvolution Boundary Detection</h3>
    <span>Oregon State University, Deep Learning Final Project <span style="display:inline-block;width:180px;"></span><i>Jan. 2016 - Mar. 2016</i></span>
    <ul>
      <li>Applied deep neural network on BSDS500 dataset to perform edge and boundary detection of images based on Caffe framework.</li>
      <li>Trained a CNN(convolutional neural network) model and evaluated on BSDS500 dataset for learning the weights.</li>
      <li>Reconstructed the boundary image by deconvolving and un-pooling learned feature from CNN model. </li>
      <br>
      <i class="fa fa-fw fa-github"></i><a href="https://github.com/encorechow/caffe_BD">BSDS500 Boundary Detection Repository</a>
    </ul>
  </div>
  <div id="project2">
    <h3>Face Detection Project</h3>
    <span>Oregon State University, Machine Learning term project <span style="display:inline-block;width:160px;"></span><i>Sep. 2015 - Dec. 2015</i></span>
    <ul>
      <li>Implemented face detection using SVM model, and Boosting model using SVM as basic learner by using Sklearn python library.</li>
      <li>Took advantage of Python and OpenCV to evaluate final results.</li>
      <li>Cooperated with two teammates to complete report.</li>
      <br>
      <i class="fa fa-fw fa-github"></i><a href="https://github.com/encorechow/Face_detection">Face Detection Repository</a>
    </ul>

  </div>
  <div id="project3">
    <h3>Photo Editor</h3>
    <span>Macau University of Science and Technology, Final year project <span style="display:inline-block;width:110px;"></span><i>Feb. 2014 - Jun. 2014</i></span>
    <ul>
      <li>Used HTML5 canvas to created a editable photo container.</li>
      <li>Implemented a member system for photo editor project by using multiple technology such as PHP, AJAX, etc.</li>
      <li>Used Javascript and its APIs such as jQuery, CamanJS to design front-end user interface.</li>
      <br>
    </ul>

  </div>
  <div id="project4">

  </div>
  <div id="project5">

  </div>

</div>
