<div>
<h1 class="sec-title">Skills</h1>
</div>
<hr class="header-bar">

<div class="skills-div">
  <table class="skills-table no-border-table">
    <tr>
      <td rowspan="3"><b>Programming Languages: </b></td>
      <td><i>back-end:</i> Java, Python(Primary in daily programming), C/C++, C#, PHP</td>
    </tr>
    <tr>
      <td><i>front-end: </i>Html, CSS, SASS, Javascript, jQuery</td>
    </tr>
    <tr >
      <td ><i>others: </i>haskell, matlab, assembly, swift</td>
    </tr>
    <tr>
      <td rowspan="2" ><b>Framework/Toolkit: </b></td>
      <td><i>For machine learnig: </i>Caffe, TensorFlow, Keras, Sklearn, OpenCV, CUDA</td>
    </tr>
    <tr>
      <td><i>For web development: </i>Django, nodeJS, ASP.NET, AngularJS, React, Spring</td>
    </tr>
    <tr>
      <td><b>Operating System:</b> </td>
      <td>MacOS, Linux, Windows</td>
    </tr>
    <tr>
      <td><b>Version Control:</b> </td>
      <td>Git, SVN</td>
    </tr>
    <tr>
      <td><b>Database:</b> </td>
      <td>MySQL, MongoDB, Microsoft SQL Server</td>
    </tr>
    <tr>
      <td><b>Editor/IDE:</b> </td>
      <td>Atom, vim, sublime, Eclipse, X-code, Visual Studio</td>
    </tr>
    <tr>
      <td><b>Professional:</b> </td>
      <td>Self-motivated, Hard-working, Good Communication Skills, Quick Learner</td>
    </tr>
  </table>
</div>
